# Local builds
/camoufox-*-*
/firefox-*
/mozilla-unified
dist/
bin/
launch
launch.exe

# Internal testing
camoufox-py/test*
camoufox-py/*.png
/extra-docs
jsonvv/test*
/.vscode
firefox/bundle/fonts/extra
scripts/*.png
scripts/test*
.vscode
.idea
/tests/*.disabled
k8s/

# Old data
_old/
_old_*/
*.old

# Logs
wget-log
*.kate-swp
*.log

# Python interface
venv/
.venv/
__pycache__/
.mypy_cache/
*.pyc
*.mmdb

# Closed source patches
private
.passwd
closedsrc

# Misc. local files
.misc/