name: Lucid Windows Build
on: [push, workflow_dispatch]

jobs:
  build:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v3
      - name: Install MozillaBuild
        run: choco install mozillabuild
      - name: List files for debugging
        run: ls -la
        shell: bash

      - name: Bootstrap
        shell: bash
        run: C:/mozilla-build/start-shell.bat -c "./mach bootstrap --application-choice browser --no-interactive"
      - name: Configure
        shell: bash
        run: |
          C:/mozilla-build/start-shell.bat -c "echo ac_add_options --disable-telemetry >> .mozconfig"
          C:/mozilla-build/start-shell.bat -c "echo ac_add_options --target=x86_64-pc-windows-msvc >> .mozconfig"
      - name: Build
        shell: bash
        run: C:/mozilla-build/start-shell.bat -c "./mach build && ./mach package"
      - name: Upload
        uses: actions/upload-artifact@v4
        with:
          name: lucid-browser-bin
          path: obj-x86_64-pc-windows-msvc/dist/install/sea/*.zip
